.stock-and-membership-heading {
    text-align: center;
    color: #3c3c3c;
    font-size: 36px;
    font-weight: 500px;
    margin-top: 70px;
}

.stock-and-membership-bottom-container {
    display: flex;
    width: 70%;
    gap: 2rem;
    justify-items: justified;
    margin: 50px auto;
}

.stock-and-membership-left-container {
    width: 75%;
}

.stock-and-membership-right-container {
    width: 20%;
    padding: 10px 20px 30px 20px;
    margin: 0 10px;
    border-radius: 8px;
    height: 300px;
    border: 4px solid #003b5c;
    text-align: center;
}

.stock-and-membership-button-full {
    width: 100%;
    padding: 10px;
    color: #fff;
    background-color: #d1344f;
    border-radius: 5px;
}

.stock-and-membership-right-h3 {
    font-size: 30px;
    color: #d1344f;
    margin: 20px auto 30px auto;
    width: 70%;
    line-height: 30px;
}

.stock-and-membership-right-container p {
    font-size: 18px;
    margin: 0 0 30px 0;
}

stock-and-membership-content {
    margin-top: 20px;
    font-size: 1rem;
    color: #333;
}

@media(max-width: 768px) {
    .stock-and-membership-bottom-container {
        display: block;
        width: 90%;
        gap: 0rem;
        justify-items: justified;
        margin: 50px auto;
    }
    .stock-and-membership-left-container {
        width: 100%;
    }
    .stock-and-membership-right-container {
        width: 100%;
        padding: 10px 20px 30px 00px;
        margin: 0 10px 0 0;
        border: none;
        text-align:left;
    }
    .stock-and-membership-button-full {
        width: 30%;
    }
    .stock-and-membership-right-h3 {
        width: 100%;

    }
}
