.FQA_NonProfit_501_status-heading {
  text-align: center;
  color: #3c3c3c;
  font-size: 28px;
  font-weight: 500;
  margin-top: 70px;
  width: 60%;
  margin: 70px auto;
}

.FQA_NonProfit_501_status-list {
  list-style-type: none;
  padding: 0;
}

.FQA_NonProfit_501_status-list-item {
  margin: 10px 0;
  cursor: pointer;
  color: var(--darkBlue);
}

.FQA_NonProfit_501_status-question:hover {
  text-decoration: underline;
}

.FQA_NonProfit_501_status-section {
  margin-top: 2%;
}

.nonprofit-501-status-bottom-container .FQA_NonProfit_501_status-section h2,
.nonprofit-501-status-bottom-container .FQA_NonProfit_501_status-section h3 {
  color: var(--deepBlue);
}

.FQA_NonProfit_501_status-back-to-top {
  cursor: pointer;
  color: var(--darkBlue);
  margin-top: 1%;
  display: inline-block;
}

.FQA_NonProfit_501_status-back-to-top:hover {
  text-decoration: underline;
}
