.certificate-heading {
  text-align: center;
  color: var(--deepBlue);
  font-size: 28px;
  font-weight: 500;
  margin-top: 70px;
  width: 60%;
  margin: 70px auto;
}

.certificate-list {
  list-style-type: none;
  padding: 0;
}

.certificate-section h3 {
  color: var(--deepBlue);
}

.certificate-container .certificate-list li {
  margin-left: 0;
}

.certificate-list-item {
  margin: 10px 0;
  cursor: pointer;
  color: var(--darkBlue);
}

.certificate-question:hover {
  text-decoration: underline;
}

.certificate-section {
  margin-top: 4%;
}

.certificate-back-to-top {
  cursor: pointer;
  color: var(--darkBlue);
  margin-top: 2%;
  display: inline-block;
}

.certificate-back-to-top:hover {
  text-decoration: underline;
}

@media (max-width: 650px) {
  .certificate-section h3 {
    font-size: 18px;
  }
}
