.client_Grid_Dashboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 12px;
  grid-auto-rows: minmax(200px auto);
  /* height: 90vh; */
  color: var(--whiteColor);
}

.client_charts {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  background-color: #212529 !important;
  padding: 20px;
  border-radius: 10px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.box2 h4 {
  color: #fff;
}

.box4 {
  grid-row: span 2;
}

.box5 {
  grid-column: span 3;
  grid-row: span 2;
}

.box6 {
  grid-row: span 2;
}
.box7 {
  grid-column: span 2;
}

@media (max-width: 1024px) {
  .client_Grid_Dashboard {
    justify-content: center;
    row-gap: 25px;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
  }
  .client_charts {
    padding: 10px;
  }

  .res-box {
    width: 230px;
  }
}

@media (max-width: 768px) {
  .client_Grid_Dashboard {
    justify-content: center;
    row-gap: 10px;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
  }
  .client_charts {
    padding: 5px;
  }

  .res-box {
    width: 150px;
  }
  .res-box-big {
    width: 280px;
  }

  .clientDocumentStatusContainer li {
    margin-left: 2%;
  }
}

@media (max-width: 650px) {
  .client_Grid_Dashboard {
    display: block;
  }
  .res-box,
  .res-box-big {
    width: 100%;
  }
}
