.editInfo {
  margin-top: 20px;
  height: auto;
  margin-bottom: 5%;
}

.companyInfoTable {
  width: 100%;
  border-collapse: collapse;
}
.companyInfoTable th {
  color: black;
}

.companyInfoTable th,
.companyInfoTable td {
  border: 1px solid #ddd;
  padding: 8px;
}

.companyInfoTable th {
  background-color: #f4f4f4;
  text-align: left;
}

.client-mobile-wrapper {
  display: none;
}

.mobile-client-heading {
  display: none;
}

@media (max-width: 1280px) {
  .client-table-wrapper {
    overflow-x: scroll;
  }

  .client-dash-wrapper {
    overflow-x: scroll;
  }
}
@media (max-width: 650px) {
  .admin-desktop-sidebar {
    display: none;
  }

  .client-dash-wrapper {
    padding: 0 !important;
  }

  .client-table-wrapper {
    padding: 0 !important;
    margin-top: 6%;
  }

  .client-mobile-wrapper {
    display: flex;
  }

  .userDashboardHeading {
    display: none;
  }

  .mobile-client-heading {
    display: block;
    color: #fff;
    margin-top: 12%;
    margin-left: 8%;
  }
  .client-table-wrapper .companyInfoTable td {
    padding: 2px 4px;
    text-align: center;
    line-height: 1.2;
    font-size: 14px;
  }
}
