.FQA_LLC_Tax_Status_Election-heading {
  text-align: center;
  color: #3c3c3c;
  font-size: 28px;
  font-weight: 500;
  margin-top: 70px;
  width: 60%;
  margin: 70px auto;
}

.FQA_LLC_Tax_Status_Election-section li {
  margin-left: 0;
}
.FQA_LLC_Tax_Status_Election-list {
  list-style-type: none;
  padding: 0;
}

.FQA_LLC_Tax_Status_Election-list-item {
  margin: 10px 0;
  cursor: pointer;
  color: var(--darkBlue);
}

.FQA_LLC_Tax_Status_Election-question:hover {
  text-decoration: underline;
}

.FQA_LLC_Tax_Status_Election-section {
  margin-top: 3%;
  color: var(--deepBlue);
}

.FQA_LLC_Tax_Status_Election-back-to-top {
  cursor: pointer;
  color: var(--darkBlue);
  margin-top: 1%;
  display: inline-block;
}

.FQA_LLC_Tax_Status_Election-back-to-top:hover {
  text-decoration: underline;
}

@media (max-width: 650px) {
  .FQA_LLC_Tax_Status_Election-container .FQA_LLC_Tax_Status_Election-list {
    margin-left: 5%;
  }

  .FQA_LLC_Tax_Status_Election-section ul {
    margin-left: 5%;
  }
}
