.tabs-Ohio-container {
    width: 100%;
}

.tabs-Ohio-tabs {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
    flex-wrap: wrap; /* Adjust for many tabs */
}

.tabs-Ohio-tab {
    margin-right: 20px;
    padding-bottom: 8px;
    font-size: 1.2rem;
    font-weight: 500;
    color: #444;
    cursor: pointer;
    transition: color 0.3s ease;
}

.tabs-Ohio-tab.tabs-Ohio-active {
    color: #d8345f;
}

.tabs-Ohio-tab-indicator {
    position: relative;
    width: 100%;
    height: 8px;
    background-color: #d8345f;
}

.tabs-Ohio-indicator {
    position: absolute;
    top: -16px;
    height: 16px;
    background-color: #d8345f;
    transition: left 0.3s ease;
    clip-path: polygon(50% 0%, 100% 50%, 100% 100%, 0% 100%, 0% 50%);
}

.tabs-Ohio-indicator.tabs-Ohio-corporation { left: 0; width: 60px; }
.tabs-Ohio-indicator.tabs-Ohio-llc { left: 105px; width: 60px; }
.tabs-Ohio-indicator.tabs-Ohio-business-licenses { left: 225px; width: 60px; }

.tabs-Ohio-tab-content {
    margin-top: 20px;
    font-size: 1rem;
    color: #333;
}


.tabs-Ohio-tab-content h2 {
    font-size: 22px;
    margin-bottom: 10px;
}