.recent_customer_review_image {
  width: 100%;
  /* height:30vh; */
  height: 200px;
  overflow: hidden;
  position: relative;
}

.review_container {
  line-height: 1.5;
}
.recent_image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* object-position: Center; */
}
.Recent_customer_paragraph {
  position: absolute; /* Positioning the text absolutely within the container */
  color: var(--deepBlue);
  top: 60%;
  transform: translateY(-60%);
  width: 40%;
  text-align: left; /* Centering the text horizontally */
  margin: 0 auto 0 15%; /* Ensuring the text block is centered */
  padding: 10px;
  font-size: 28px; /* Adjust font size as needed */
  font-weight: 500;
}
.review_container {
  width: 70%;
  margin: 3% auto 40px auto;
}
.review_paragraph {
  background-color: #d4f0fe;
  font-size: 14px;
  padding: 15px 30px 15px 30px;
  border-radius: 5px;
  color: #3c3c3c;
  margin: 20px 50px 3% 50px;
}
.quotes_par {
  padding: 2px;
  font-size: 1rem;
}

@media (max-width: 1024px) {
  .review_container {
    width: 95%;
  }

  .Recent_customer_paragraph {
    margin-left: 0;
    width: 100%;
    text-align: center;
  }
}
@media (min-width: 468px) and(max-width:850px) {
  .review_container {
    width: 100%;
    margin: 3% auto 2% auto;
  }
  .Recent_customer_paragraph {
    position: absolute; /* Positioning the text absolutely within the container */
    color: #003b5c;
    top: 10vh;
    width: 70%;
    text-align: left; /* Centering the text horizontally */
    margin: 0 auto 0 15%; /* Ensuring the text block is centered */
    padding: 10px;
    font-size: 36px;
  }
}
@media (max-width: 468px) {
  .review_container {
    margin: 4% 2%;
  }
  .Recent_customer_paragraph {
    font-size: 22px;
  }

  .review_paragraph {
    margin: 4% 2%;
    padding: 2%;
  }
}
