.Entity_Conversion-heading {
    text-align: center;
    color: #3c3c3c;
    font-size: 36px;
    font-weight: 500;
    width: 60%;
    margin: 70px auto;
}

.Entity_Conversion-bottom-container {
    display: flex;
    width: 70%;
    gap: 2rem;
    justify-items: justified;
    margin: 50px auto;
}

.Entity_Conversion-left-container {
    width: 75%;
}

.Entity_Conversion-right-container {
    width: 20%;
    padding: 10px 20px 0px 20px;
    margin: 0 10px;
    border-radius: 8px;
    height: 230px;
    border: 4px solid #003b5c;
    text-align: center;
}

.Entity_Conversion-button-full {
    width: 100%;
    padding: 10px;
    color: #fff;
    background-color: #d1344f;
    border-radius: 5px;
}

.Entity_Conversion-right-h3 {
    font-size: 30px;
    color: #d1344f;
    margin: 20px auto 30px auto;
    width: 70%;
    line-height: 30px;
}

.Entity_Conversion-right-container p {
    font-size: 18px;
    margin: 0 0 5px 0;
}

@media(max-width: 768px) {
    .Entity_Conversion-bottom-container {
        display: block;
        width: 90%;
        gap: 0rem;
        justify-items: justified;
        margin: 50px auto;
    }
    .Entity_Conversion-left-container {
        width: 100%;
    }
    .Entity_Conversion-right-container {
        width: 100%;
        padding: 10px 20px 30px 0px;
        margin: 0 10px 0 0;
        border: none;
        text-align: left;
    }
    .Entity_Conversion-button-full {
        width: 30%;
    }
    .Entity_Conversion-right-h3 {
        width: 100%;
    }
    .Entity_Conversion-heading {
        text-align: left;
        color: #3c3c3c;
        font-size: 36px;
        font-weight: 500;
        width: 90%;
        margin: 70px 0;
    }
}
